#przedwiosnie {
  position: absolute;
  left: 550px;
  top: 350px;
}

#autor {
  position: absolute;
  left: 0px;
  top: 2px;
}

#tytul {
  position: absolute;
  left: 0px;
  top: 50px;
}

#geneza {
  position: absolute;
  left: 0px;
  top: 100px;
}

#gatunek {
  position: absolute;
  left: 0px;
  top: 150px;
}

#slownik {
  position: absolute;
  left: 0px;
  top: 200px;
}

#opracowania {
  position: absolute;
  left: 0px;
  top: 250px;
}

#nawiazania {
  position: absolute;
  left: 0px;
  top: 300px;
}

#konteksty {
  position: absolute;
  left: 0px;
  top: 350px;
}

#tematy {
  position: absolute;
  left: 0px;
  top: 402px;
}

#kluczoweslowa {
  position: absolute;
  left: 0px;
  top: 450px;
}

#kompozycja {
  position: absolute;
  left: 0px;
  top: 499px;
}

#swiatprzedstawiony {
  position: absolute;
  left: 0px;
  top: 548px;
}

#narracja {
  position: absolute;
  left: 0px;
  top: 595px;
}

#konwencjaliteracka {
  position: absolute;
  left: 0px;
  top: 643px;
}

#recepcja {
  position: absolute;
  left: 0px;
  top: 695px;
}

#interpretacja {
  position: absolute;
  left: 0px;
  top: 743px;
}

#interseksualnosci {
  position: absolute;
  left: 0px;
  top: 794px;
}

#zeromskixautor {
  position: absolute;
  left: 480px;
  top: 370px;
}

#tytulxother {
  position: absolute;
  left: 250px;
  top: 300px;
}

#genezaxother {
  position: absolute;
  left: 90px;
  top: 150px;
}

#gatunekxother {
  position: absolute;
  left: 250px;
  top: 300px;
}

#opracowaniaxother {
  position: absolute;
  left: 650px;
  top: 30px;
}

#kontekstyxother {
  position: absolute;
  left: 520px;
  top: 30px;
}

#tematyxother {
  position: absolute;
  left: 520px;
  top: 30px;
}

#kluczoweslowaxother {
  position: absolute;
  left: 250px;
  top: 130px;
}

#kompozycjaxother {
  position: absolute;
  left: 500px;
  top: 50px;
}

#swiatprzedstawionyxother {
  position: absolute;
  left: 150px;
  top: 50px;
}

#narracjaxother {
  position: absolute;
  left: 400px;
  top: 75px;
}

#konwencjaliterackaxother {
  position: absolute;
  left: 270px;
  top: 320px;
}

#recepcjaxother {
  position: absolute;
  left: 250px;
  top: 250px;
}

#interpretacjaxother {
  position: absolute;
  left: 270px;
  top: 85px;
}

#stronazrobiona {
  position: absolute;
  left: 600px;
  top: 250px;
}

#stronazrobiona1 {
  position: absolute;
  left: 650px;
  top: 630px;
}

